<div class="content">

  <div class="pure-u-1-4">
    <a href="newmessage" class="pure-button">Add Entry</a>
    <p>Sends entry to the backend, updates the guestbook data, and shows the entry in the guestbook
      page.</p>
  </div>
  <br>
  <div class="pure-u-1-4">
    <a href="newmessageajax" class="pure-button">Add Entry (AJAX)</a>
    <p>Sends entry to the backend, updates the guestbook data, and shows the entry in the page table
      asynchronously.</p>
  </div>
  <br>
  <div class="pure-u-1-4">
    <a href="guestbook" class="pure-button">View Guestbook</a>
    <p>View all the guestbook entries.</p>
  </div>

</div>