<!-- views/partials/meta.ejs -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title.title_name %></title>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
  integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous" />

<!--[if lte IE 8]>
      <link
        rel="stylesheet"
        href="/combo/1.18.13?/css/layouts/side-menu-old-ie.css"
      />
    <![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="stylesheets/mycss.css" />
<link rel="stylesheet" href="stylesheets/sidemenu.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->