<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/navbar') %>

    <div id="main">
        <%- include('../partials/header') %>

        <div class="content">
            <form class="pure-form pure-form-aligned" action="/update" method="post">
                <fieldset>
                    <div class="pure-control-group">

                        <input name="name" id="name" type="text" placeholder="Your name">
                    </div>

                    <div class="pure-control-group">

                        <input name="country" id="country" type="text" placeholder="Your country">
                    </div>

                    <div id="message" class="pure-control-group">

                        <input name="message" id="comment" type="text" placeholder="Message">

                    </div>
                </fieldset>
                <button class="pure-button">Send</button>
        </div>

    </div>
    </div>

    <script src="javascript/ui.js"></script>
</body>

</html>